@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  outline-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html:root {
  --color-White-to-Black: #fff;
  --color-Black-to-White: #000;
  --color-Grey-to-White: #999;
  --color-Shadow: rgba(153,153,153,1);
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.WeatherMainBlock {
  width: 50vw;
  height: 100vh;
  background-color: var(--color-White-to-Black);
  position: relative;
}

.TaglineTextBlock {
  width: 100%;
  height: 12vh;
  border-bottom: 2px solid var(--color-Black-to-White);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.TaglineText {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 9vh;
  color: var(--color-Black-to-White);
}

.WeatherContentBlock {
  width: 100%;
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputSearchBlock {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.FormSearchBlock {
  width: 34vw;
  height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.SettingsBtn {
  width: 7vh;
  height: 7vh;
  background-color: var(--color-White-to-Black);
  background-image: url(../media/settings.svg);
  background-size: cover;
  border: 2px solid var(--color-White-to-Black);
}

.SettingsBtn:active {
  border-bottom: 2px solid var(--color-Black-to-White);
}

.InputCity {
  width: 25vw;
  height: 7vh;
  background-color: var(--color-White-to-Black);
  border: none;
  border-bottom: 2px solid var(--color-Black-to-White);
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  color: var(--color-Black-to-White);
}

.InputCity::-webkit-input-placeholder {
  font-size: 2.5vh;
  color: #E0E0E0;
}

.InputCity:-ms-input-placeholder {
  font-size: 2.5vh;
  color: #E0E0E0;
}

.InputCity::-ms-input-placeholder {
  font-size: 2.5vh;
  color: #E0E0E0;
}

.InputCity::placeholder {
  font-size: 2.5vh;
  color: #E0E0E0;
}

.InputCity:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.InputCity:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.InputCity::-moz-selection {
  background-color: var(--color-Black-to-White);
  color: #FFA724;
}

.InputCity::selection {
  background-color: var(--color-Black-to-White);
  color: #FFA724;
}

.InputMessageBox {
  width: 25vw;
  height: 2.5vh;
  position: absolute;
  left: 7vh;
  bottom: -1vh;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2vh;
  color: #FFA724;
}

.InputMessageBox::-moz-selection {
  background-color: var(--color-Black-to-White);
  color: #FFA724;
}

.InputMessageBox::selection {
  background-color: var(--color-Black-to-White);
  color: #FFA724;
}

.SearchBtn {
  width: 8vw;
  height: 7vh;
  color: #FFFFFF;
  background-color: #FFA724;
  border: 5px solid #FFA724;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SearchBtn:active {
  border: 1px solid var(--color-White-to-Black);
}

.SettingsWindow {
  width: 10vw;
  height: 18vh;
  position: absolute;
  top: 33vh;
  left: 1vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw;
      grid-template-columns: 10vw;
  -ms-grid-rows: (4.3vh)[4];
      grid-template-rows: repeat(4, 4.3vh);
  border: 1.5px solid var(--color-Black-to-White);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  visibility: hidden;
  background-color: var(--color-White-to-Black);
}

@-webkit-keyframes showSettingsWindow {
  from {
    top: 29vh;
  }
  to {
    top: 33vh;
  }
}

@keyframes showSettingsWindow {
  from {
    top: 29vh;
  }
  to {
    top: 33vh;
  }
}

.SettingsLang, .SettingsTemerature, .SettingsTheme, .BtnSaveBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  color: var(--color-Black-to-White);
  font-weight: 400;
  font-size: 2.5vh;
}

.BtnSaveSettings {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: 2px dashed var(--color-Black-to-White);
  background-color: var(--color-White-to-Black);
  font-size: 2vh;
  text-align: center;
  color: #FFA724;
}

.BtnSaveSettings:active {
  border-color: #FFA724;
  border-style: solid;
}

.WeatherCard {
  width: 45vw;
  height: 44vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 0;
  margin: auto;
  -webkit-box-shadow: 0px 15px 35px 0px var(--color-Shadow);
          box-shadow: 0px 15px 35px 0px var(--color-Shadow);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  visibility: hidden;
}

@-webkit-keyframes crawlLine {
  from {
    top: 10vh;
  }
  85% {
    top: 33vh;
  }
  to {
    top: 30vh;
  }
}

@keyframes crawlLine {
  from {
    top: 10vh;
  }
  85% {
    top: 33vh;
  }
  to {
    top: 30vh;
  }
}

.NameCity {
  width: 100%;
  height: 6vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 4.5vh;
  color: #777;
  text-align: center;
}

.JustWeatherBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.MainDescriptionBlock {
  width: 20vw;
  height: 38vh;
}

.WeatherIcon {
  width: 100%;
  height: 23vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.JustIcon {
  width: 23vh;
  height: 23vh;
  background-size: cover;
}

.StateWeather {
  width: 100%;
  height: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3vh;
  color: #999;
  text-align: center;
}

.Temperature {
  width: 100%;
  height: 9vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 7vh;
  text-align: center;
}

.TemprtrSup {
  font-size: 5vh;
}

.MainAdditionalBlock {
  width: 25vw;
  height: 38vh;
  float: right;
  border-left: 1px solid var(--color-Black-to-White);
}

.SunBlock {
  width: 100%;
  height: 18vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12vh;
      grid-template-rows: 12vh;
  -ms-grid-columns: 12vh auto 12vh;
      grid-template-columns: 12vh auto 12vh;
  border-bottom: 1px solid var(--color-Black-to-White);
}

.SunriseBlock, .SunsetBlock {
  width: 12vh;
  height: 12vh;
  background-size: cover;
}

.SunriseBlock {
  background-image: url(../media/sunrice.svg);
}

.SunsetBlock {
  background-image: url(../media/sunset.svg);
}

.SunriseTime, .SunsetTime {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 4vh;
  text-align: center;
  color: #999;
}

.ProgressDayBlock {
  width: 100%;
  height: auto;
  border-bottom: 2.5px solid #999;
}

.ProgressDay {
  width: 0%;
  height: 1.5vh;
  background-color: #FFA724;
}

.WeatherOtherInfo {
  width: 100%;
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh;
      grid-template-rows: 20vh;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.AdditionalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2vh;
  text-align: center;
  text-transform: uppercase;
  color: #999;
}

.AdditionalInfoBorder {
  border-right: 1px solid var(--color-Black-to-White);
}

.CircleData {
  width: 11vh;
  height: 11vh;
  border: 0.7vh solid #999;
  border-radius: 50%;
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2vh;
  text-transform: none;
  color: #FFA724;
  text-align: center;
}

.Pressure {
  font-size: 1.7vh;
}

.MapMainBlock {
  width: 50vw;
  height: 100vh;
  border-left: 2px solid var(--color-Black-to-White);
}

.JustMap {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styleMain.css.map */