@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$black: #000000;
$blue: #2B3E80;
$yellow: #FFA724;
$grey: #ECECEC;
$white: #FFFFFF;

$testColor: red;

* {
    margin: 0;
    outline-style: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

//WEATHER BLOCK
.WeatherMainBlock {
    width: 55vw;
    height: 100vh;
    background-color: $white;
    border-right: 3px solid $black;
    position: relative;
}

//textline
.TaglineTextBlock {
    width: 55vw;
    height: 12vh;
    border-bottom: 3px solid $black;
}

.TaglineText {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 9.8vh;
    text-align: center;
}

//weather content
.WeatherContentBlock {
    width: 55vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.InputSearchBlock {
    width: 55vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.FormSearchBlock {
    width: 34vw;
    height: 75px;
    display: flex;
    position: relative;
}

.InputCity {
    width: 26vw;
    height: 7vh;
    background-color: $white;
    border: none;
    border-bottom: 3px solid $black;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;

    &::placeholder {
        font-size: 15px;
        color: #E0E0E0;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

.InputMessageBox {
    width: 25vw;
    height: 2.5vh;
    position: absolute;
    left: 0;
    bottom: 1.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
}

.SearchBtn {
    width: 8vw;
    height: 7vh;
    color: $white;
    background-color: $yellow;
    border: 5px solid $yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;

    &:active {
        border: 1px solid $white;
    }
}

.WeatherCard {
    width: 35vw;
    height: 44vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
    bottom: 0;
    margin: auto;
    border: 1px solid $grey;
    box-shadow: 0px 15px 35px 0px rgba(153,153,153,1);
}

.NameCity {
    width: 100%;
    height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 4.5vh;
    color: #777;
    text-align: center;
}

.WeatherIcon {
    width: 100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JustIcon {
    width: 23vh;
    height: 23vh;
    background-size: cover;
}

.StateWeather {
    width: 100%;
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 4vh;
    color: #999;
    text-align: center;
}

.Temperature {
    width: 100%;
    height: 9vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 8vh;
    letter-spacing: -4px;
    text-align: center;
}

.TemprtrSup {
    font-size: 5vh;
}



//MAP BLOCK
.MapMainBlock {
    width: 45vw;
    height: 100vh;
    background-color: $grey;
}