@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  outline-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.WeatherMainBlock {
  width: 50vw;
  height: 100vh;
  background-color: #FFFFFF;
  position: relative;
}

.TaglineTextBlock {
  width: 100%;
  height: 12vh;
  border-bottom: 2px solid #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.TaglineText {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 9vh;
  text-align: center;
}

.WeatherContentBlock {
  width: 100%;
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.InputSearchBlock {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.FormSearchBlock {
  width: 34vw;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.SettingsBtn {
  width: 6.5vh;
  height: 6.5vh;
  background-color: #FFFFFF;
  background-image: url(../media/settings.png);
  background-size: cover;
  border: none;
}

.SettingsBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.InputCity {
  width: 25vw;
  height: 7vh;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
}

.InputCity::-webkit-input-placeholder {
  font-size: 15px;
  color: #E0E0E0;
}

.InputCity:-ms-input-placeholder {
  font-size: 15px;
  color: #E0E0E0;
}

.InputCity::-ms-input-placeholder {
  font-size: 15px;
  color: #E0E0E0;
}

.InputCity::placeholder {
  font-size: 15px;
  color: #E0E0E0;
}

.InputCity:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.InputCity:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.InputCity::-moz-selection {
  background-color: #000000;
  color: #FFA724;
}

.InputCity::selection {
  background-color: #000000;
  color: #FFA724;
}

.InputMessageBox {
  width: 25vw;
  height: 2.5vh;
  position: absolute;
  left: 6vh;
  bottom: 1.5vh;
  font-family: 'Roboto', sans-serif;
  font-size: 2.2vh;
  color: #FFA724;
}

.InputMessageBox::-moz-selection {
  background-color: #000000;
  color: #FFA724;
}

.InputMessageBox::selection {
  background-color: #000000;
  color: #FFA724;
}

.SearchBtn {
  width: 8vw;
  height: 7vh;
  color: #FFFFFF;
  background-color: #FFA724;
  border: 5px solid #FFA724;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SearchBtn:active {
  border: 1px solid #FFFFFF;
}

.WeatherCard {
  width: 45vw;
  height: 44vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 30vh;
  bottom: 0;
  margin: auto;
  -webkit-box-shadow: 0px 15px 35px 0px #999999;
          box-shadow: 0px 15px 35px 0px #999999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  visibility: hidden;
}

@-webkit-keyframes crawlLine {
  from {
    top: 10vh;
  }
  85% {
    top: 33vh;
  }
  to {
    top: 30vh;
  }
}

@keyframes crawlLine {
  from {
    top: 10vh;
  }
  85% {
    top: 33vh;
  }
  to {
    top: 30vh;
  }
}

.NameCity {
  width: 100%;
  height: 6vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 4.5vh;
  color: #777;
  text-align: center;
}

.JustWeatherBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.MainDescriptionBlock {
  width: 20vw;
  height: 38vh;
}

.WeatherIcon {
  width: 100%;
  height: 23vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.JustIcon {
  width: 23vh;
  height: 23vh;
  background-size: cover;
}

.StateWeather {
  width: 100%;
  height: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3vh;
  color: #999;
  text-align: center;
}

.Temperature {
  width: 100%;
  height: 9vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 7vh;
  text-align: center;
}

.TemprtrSup {
  font-size: 5vh;
}

.MainAdditionalBlock {
  width: 25vw;
  height: 38vh;
  float: right;
  border-left: 1px solid #000000;
}

.SunBlock {
  width: 100%;
  height: 18vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 12vh;
      grid-template-rows: 12vh;
  -ms-grid-columns: 12vh auto 12vh;
      grid-template-columns: 12vh auto 12vh;
  border-bottom: 1px solid #000000;
}

.SunriseBlock, .SunsetBlock {
  width: 12vh;
  height: 12vh;
  background-size: cover;
}

.SunriseBlock {
  background-image: url(../media/sunrise.png);
}

.SunsetBlock {
  background-image: url(../media/sunset.png);
}

.SunriseTime, .SunsetTime {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 4vh;
  text-align: center;
  color: #999;
}

.ProgressDayBlock {
  width: 100%;
  height: auto;
  border-bottom: 2.5px solid #999;
}

.ProgressDay {
  width: 0%;
  height: 1.8vh;
  background-color: #FFA724;
}

.WeatherOtherInfo {
  width: 100%;
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20vh;
      grid-template-rows: 20vh;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.AdditionalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2vh;
  text-align: center;
  text-transform: uppercase;
  color: #999;
}

.AdditionalInfoBorder {
  border-right: 1px solid #000000;
}

.CircleData {
  width: 11vh;
  height: 11vh;
  border: 0.7vh solid #999;
  border-radius: 50%;
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.1vh;
  text-transform: none;
  color: #FFA724;
}

.Pressure {
  font-size: 1.9vh;
}

.MapMainBlock {
  width: 50vw;
  height: 100vh;
  background-color: #999;
  border-left: 2px solid #000000;
}
/*# sourceMappingURL=style.css.map */