@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$black: #000000;
$blue: #2B3E80;
$yellow: #FFA724;
$grey: #ECECEC;
$white: #FFFFFF;

$testColor: red;

* {
    margin: 0;
    outline-style: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

//WEATHER BLOCK
.WeatherMainBlock {
    width: 55%;
    height: 100vh;
    background-color: $white;
    border-right: 3px solid $black;
}

//textline
.TaglineTextBlock {
    width: 100%;
    height: 12vh;
    border-bottom: 3px solid $black;
}

.TaglineText {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-align: left;
}

//weather content
.WeatherContentBlock {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.InputSearchBlock {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.FormSearchBlock {
    width: 470px;
    height: 75px;
    display: flex;
    position: relative;
}

.InputCity {
    width: 360px;
    height: 50px;
    background-color: $white;
    border: none;
    border-bottom: 3px solid $black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    &::placeholder {
        font-size: 15px;
        color: #E0E0E0;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

.InputMessageBox {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.SearchBtn {
    width: 100px;
    height: 50px;
    color: $white;
    background-color: $yellow;
    border: 5px solid $yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;

    &:active {
        border: 1px solid $white;
    }
}





//MAP BLOCK
.MapMainBlock {
    width: 45%;
    height: 100vh;
    background-color: $grey;
}