@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//$black: #000000;
//$blue: #2B3E80;
$yellow: #FFA724;
$grey: #999;
$white: #FFFFFF;

* {
    margin: 0;
    outline-style: none;
    box-sizing: border-box;
}

html {
    &:root {
        --color-White-to-Black: #fff;
        --color-Black-to-White: #000;
        --color-Grey-to-White: #999;
        --color-Shadow: rgba(153,153,153,1);
    }
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


//WEATHER BLOCK
.WeatherMainBlock {
    width: 50vw;
    height: 100vh;
    background-color: var(--color-White-to-Black);
    position: relative;
}

//textline
.TaglineTextBlock {
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid var(--color-Black-to-White);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TaglineText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9vh;
    color: var(--color-Black-to-White);
}


//weather content
.WeatherContentBlock {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.InputSearchBlock {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.FormSearchBlock {
    width: 34vw;
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SettingsBtn {
    width: 7vh;
    height: 7vh;
    background-color: var(--color-White-to-Black);
    background-image: url(../media/settings.svg);
    background-size: cover;
    border: 2px solid var(--color-White-to-Black);
    
    &:active {
        border-bottom: 2px solid var(--color-Black-to-White);
    }
}

.InputCity {
    width: 25vw;
    height: 7vh;
    background-color:  var(--color-White-to-Black);
    border: none;
    border-bottom: 2px solid var(--color-Black-to-White);
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: var(--color-Black-to-White);

    &::placeholder {
        font-size: 2.5vh;
        color: #E0E0E0;
    }

        &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity 0.2s ease;
        }

    &::selection {
        background-color: var(--color-Black-to-White);
        color: $yellow;
    }
}

.InputMessageBox {
    width: 25vw;
    height: 2.5vh;
    position: absolute;
    left: 7vh;
    bottom: -1vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2vh;
    color: $yellow;

    &::selection {
        background-color: var(--color-Black-to-White);
        color: $yellow;
    }
}

.SearchBtn {
    width: 8vw;
    height: 7vh;
    color: $white;
    background-color: $yellow;
    border: 5px solid $yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
    user-select: none;

    &:active {
        border: 1px solid var(--color-White-to-Black);
    }
}

//settings window
.SettingsWindow {
    width: 10vw;
    height: 18vh;
    position: absolute;
    top: 33vh;
    left: 1vw;
    display: grid;
    grid-template-columns: 10vw;
    grid-template-rows: repeat(4, 4.3vh);
    border: 1.5px solid var(--color-Black-to-White);
    justify-content: center;
    //animation-name: 'showSettingsWindow';
    animation-duration: 0.8s;
    visibility: hidden;
    background-color:  var(--color-White-to-Black);
}

@keyframes showSettingsWindow {
    from {top: 29vh};
    to {top: 33vh};
}

.SettingsLang, .SettingsTemerature, .SettingsTheme, .BtnSaveBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: var(--color-Black-to-White);
    font-weight: 400;
    font-size: 2.5vh;
}

.BtnSaveSettings {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 2px dashed var(--color-Black-to-White);
    background-color:  var(--color-White-to-Black);
    font-size: 2vh;
    text-align: center;
    color: $yellow;
    &:active {
        border-color: $yellow;
        border-style: solid;
    }
}

//main weather
.WeatherCard {
    width: 45vw;
    height: 44vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 15px 35px 0px var(--color-Shadow);
    user-select: none;
    //animation-name: crawlLine;
    animation-duration: 0.7s;
    visibility: hidden;
}

@keyframes crawlLine {
    from {top: 10vh}
    85% {top: 33vh}
    to {top: 30vh}
}

.NameCity {
    width: 100%;
    height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 4.5vh;
    color: #777;
    text-align: center;
}

//main weather
.JustWeatherBlock {
    width: 100%;
    display: flex;
    // grid-template-columns: 20vw 25vw;
    // grid-template-rows: 100%;
    // flex-direction: column;
    float: left;
}
.MainDescriptionBlock {
    width: 20vw;
    height: 38vh;
}

.WeatherIcon {
    width: 100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.JustIcon {
    width: 23vh;
    height: 23vh;
    background-size: cover;
}

.StateWeather {
    width: 100%;
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vh;
    color: $grey;
    text-align: center;
}

.Temperature {
    width: 100%;
    height: 9vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 7vh;
    text-align: center;
}

.TemprtrSup {
    font-size: 5vh;
}

//additional weather
.MainAdditionalBlock {
    width: 25vw;
    height: 38vh;
    float: right;
    border-left: 1px solid var(--color-Black-to-White);
}

//Sun
.SunBlock {
    width: 100%;
    height: 18vh;
    display: grid;
    grid-template-rows: 12vh;
    grid-template-columns: 12vh auto 12vh;
    border-bottom: 1px solid var(--color-Black-to-White);
}

.SunriseBlock, .SunsetBlock {
    width: 12vh;
    height: 12vh;
    background-size: cover;
}
.SunriseBlock {
    background-image: url(../media/sunrice.svg);
}
.SunsetBlock {
    background-image: url(../media/sunset.svg);
}
.SunriseTime, .SunsetTime {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 4vh;
    text-align: center;
    color: $grey;
}

.ProgressDayBlock {
    width: 100%;
    height: auto;
    border-bottom: 2.5px solid $grey;
}
.ProgressDay {
    width: 0%;
    height: 1.5vh;
    background-color: $yellow;
}

//Weather other info
.WeatherOtherInfo {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: repeat(4, 25%);
}

.AdditionalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
    text-align: center;
    text-transform: uppercase;
    color: $grey;
}
.AdditionalInfoBorder {
    border-right: 1px solid var(--color-Black-to-White);
}

.CircleData {
    width: 11vh;
    height: 11vh;
    border: 0.7vh solid $grey;
    border-radius: 50%;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    text-transform: none;
    color: $yellow;
    text-align: center;
}
.Pressure {
    font-size: 1.7vh;
}

//MAP BLOCK
.MapMainBlock {
    width: 50vw;
    height: 100vh;
    border-left: 2px solid var(--color-Black-to-White);
}

.JustMap {
    width: 100%;
    height: 100%;
}