//phone only
@media only screen and (max-width: 320px) {
    
    //42
    body {
        width: 100vw;
        flex-direction: column;
    }
    //42
    .WeatherMainBlock {
        width: 100vw;
        height: 100vh;
    }

    .TaglineTextBlock {
        height: 5vh;
    }

    .TaglineText {
        font-size: 3.2vh;
    }

    //42
    .FormSearchBlock {
        width: 100%;
    }

    .SettingsBtn {
        width: 5vh;
        height: 5vh;
    }

    .InputCity {
        width: 55vw; //42
        height: 5vh;
    }

    .InputMessageBox {
        width: 45vw;
        left: 7vh;
        bottom: -0.1vh; //42
    }

    .SearchBtn {
        width: 26vw; //42
        height: 5vh;
        font-size: 2vh;
    }

    //settings window
    .SettingsWindow {
        width: 55vw;
        grid-template-columns: 40vw; //42
        top: 22vh; //42
        left: 3vh; //42
    }
    //42
    @keyframes showSettingsWindow {
        from {top: 18vh};
        to {top: 22vh};
    }

    //card
    .WeatherCard {
        width: 95vw;
        height: 33vh;
        top: 15vh;
        border: 1px solid var(--color-Grey-to-White); //42
        box-shadow: none;
    }

    @keyframes crawlLine {
        from {top: 7vh}
        85% {top: 20vh}
        to {top: 15vh}
    }

    .NameCity {
        height: 4.5vh;
        font-weight: 400; //42
        font-size: 3.5vh;
    }

    .MainDescriptionBlock {
        width: 37vw;
        height: 32vh; //42
    }

    .WeatherIcon {
        width: 100%; //42
        height: 15vh;
    }

    .JustIcon {
        width: 15vh;
        height: 15vh;
    }

    .StateWeather {
        font-size: 2.2vh;
    }

    //42
    .Temperature {
        height: 8vh;
        font-size: 6vh; 
    }

    .TemprtrSup {
        font-size: 4vh; //42
    }

    //additional weather
    .MainAdditionalBlock {
        width: 100%; //42
        height: 28vh;
        border-color: var(--color-Grey-to-White);
    }

    .SunBlock {
        height: 14vh;
        grid-template-rows: 10vh;
        grid-template-columns: 10vh auto 10vh;
        border-color: var(--color-Grey-to-White);
    }

    .SunriseBlock, .SunsetBlock {
        width: 10vh;
        height: 10vh;
    }

    .SunriseTime, .SunsetTime {
        font-weight: 500;
        font-size: 2.3vh;
    }

     //other info
     .WeatherOtherInfo {
        height: 14vh;
        grid-template-rows: 14vh;
    }

    .AdditionalInfo {
        font-size: 1.2vh;
    }

    .CircleData {
        width: 6vh;
        height: 6vh;
        border: 0.2vh solid var(--color-Grey-to-White);
        font-weight: 400; //42
        font-size: 1.6vh;
    }

    //MAP BLOCK
    //42
    .MapMainBlock {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    body {
        width: 100vw;
        flex-direction: column;
    }

    .WeatherMainBlock {
        width: 100%;
        height: 100vh;
    }

    .TaglineTextBlock {
        height: 5.5vh;
    }

    .TaglineText {
        font-size: 4.2vh;
    }

    .FormSearchBlock {
        width: 100%;
    }

    .SettingsBtn {
        width: 5.5vh;
        height: 5.5vh;
    }

    .InputCity {
        width: 55vw;
        height: 5.5vh;
    }

    .InputMessageBox {
        width: 50vw;
        left: 8vh;
        bottom: -0.1vh;
    }

    .SearchBtn {
        width: 26vw;
        height: 5.5vh;
        font-size: 2.5vh;
    }

    //settings window
    .SettingsWindow {
        width: 35vw;
        grid-template-columns: 40vw;
        top: 22vh;
        left: 3vh;
    }

    @keyframes showSettingsWindow {
        from {top: 18vh};
        to {top: 22vh};
    }

    //card
    .WeatherCard {
        width: 97vw;
        height: 37vh;
        top: 18vh;
        border: 1px solid var(--color-Grey-to-White);
        box-shadow: none;
    }

    @keyframes crawlLine {
        from {top: 10vh}
        85% {top: 23vh}
        to {top: 18vh}
    }

    .NameCity {
        height: 5vh;
        font-weight: 400;
        font-size: 4vh;
    }

    .MainDescriptionBlock {
        width: 32vw;
        height: 32vh;
    }

    .WeatherIcon {
        width: 100%;
        height: 18vh;
    }

    .JustIcon {
        width: 16vh;
        height: 16vh;
    }

    .StateWeather {
        font-size: 2.3vh;
    }

    .Temperature {
        height: 8vh;
        font-size: 6vh;
    }
    .TemprtrSup {
        font-size: 4vh;
    }

    //additional weather
    .MainAdditionalBlock {
        width: 100%;
        height: 31.7vh;
        border-color: var(--color-Grey-to-White);
    }

    .SunBlock {
        height: 16vh;
        grid-template-rows: 11vh;
        grid-template-columns: 11vh auto 11vh;
        border-color: var(--color-Grey-to-White);
    }

    .SunriseBlock, .SunsetBlock {
        width: 11vh;
        height: 11vh;
    }

    .SunriseTime, .SunsetTime {
        font-weight: 600;
        font-size: 3.5vh;
    }

    //other info
    .WeatherOtherInfo {
        height: 15.7vh;
        grid-template-rows: 15.7vh;
    }

    .AdditionalInfo {
        font-size: 1.5vh;
    }

    .AdditionalInfoBorder {
        border-color: var(--color-Grey-to-White);
    }

    .CircleData {
        width: 8vh;
        height: 8vh;
        border: 0.3vh solid var(--color-Grey-to-White);
        font-weight: 400;
        font-size: 1.7vh;
    }

    //MAP BLOCK
    .MapMainBlock {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .WeatherMainBlock {
        height: 100vh;
    }

    .SettingsBtn {
        width: 6vh;
        height: 6vh;
    }

    .InputCity {
        width: 50vw;
        height: 6vh;
    }

    .InputMessageBox {
        left: 16vh;
    }

    .SearchBtn {
        width: 15vw;
        height: 6vh;
        font-size: 2.3vh;
    }

    //settings window
    .SettingsWindow {
        width: 20vw;
        grid-template-columns: 40vw;
        grid-template-rows: repeat(4, 4.3vh);
        top: 22vh;
        left: 3vh;
    }

    .MapMainBlock {
        display: none;
    }
}