@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$black: #000000;
$blue: #2B3E80;
$yellow: #FFA724;
$grey: #999;
$white: #FFFFFF;

* {
    margin: 0;
    outline-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}

//WEATHER BLOCK
.WeatherMainBlock {
    width: 50vw;
    height: 100vh;
    background-color: $white;

    position: relative;
}

//textline
.TaglineTextBlock {
    width: 100%;
    height: 12vh;
    border-bottom: 3px solid $black;
    user-select: none;
}

.TaglineText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 9vh;
    text-align: center;
}

//weather content
.WeatherContentBlock {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
}

.InputSearchBlock {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.FormSearchBlock {
    width: 34vw;
    height: 75px;
    display: flex;
    position: relative;
}

.InputCity {
    width: 26vw;
    height: 7vh;
    background-color: $white;
    border: none;
    border-bottom: 3px solid $black;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;

    &::placeholder {
        font-size: 15px;
        color: #E0E0E0;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &::selection {
        background-color: $black;
        color: $yellow;
    }
}

.InputMessageBox {
    width: 25vw;
    height: 2.5vh;
    position: absolute;
    left: 0;
    bottom: 1.5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: $yellow;
}

.SearchBtn {
    width: 8vw;
    height: 7vh;
    color: $white;
    background-color: $yellow;
    border: 5px solid $yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    text-transform: uppercase;

    &:active {
        border: 1px solid $white;
    }
}

//main weather
.WeatherCard {
    width: 45vw;
    height: 44vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 15px 35px 0px rgba(153,153,153,1);
    user-select: none;
    //animation-name: crawlLine;
    animation-duration: 1s;
    visibility: hidden;
}

@keyframes crawlLine {
    from {top: 10vh}
    85% {top: 33vh}
    to {top: 30vh}
}

.NameCity {
    width: 100%;
    height: 6vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 4.5vh;
    color: #777;
    text-align: center;
}

//main weather
.JustWeatherBlock {
    display: flex;
    float: left;
}
.MainDescriptionBlock {
    width: 20vw;
    height: 38vh;
}

.WeatherIcon {
    width: 100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JustIcon {
    width: 23vh;
    height: 23vh;
    background-size: cover;
}

.StateWeather {
    width: 100%;
    height: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 3vh;
    color: $grey;
    text-align: center;
}

.Temperature {
    width: 100%;
    height: 9vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 7vh;
    text-align: center;
}

.TemprtrSup {
    font-size: 5vh;
}

//additional weather
.MainAdditionalBlock {
    width: 25vw;
    height: 38vh;
    float: right;
    border-left: 1px solid $black;
}

//Sun
.SunBlock {
    width: 100%;
    height: 18vh;
    display: grid;
    grid-template-rows: 12vh;
    grid-template-columns: 12vh auto 12vh;
    border-bottom: 1px solid $black;
}

.SunriseBlock, .SunsetBlock {
    width: 12vh;
    height: 12vh;
    background-size: cover;
}
.SunriseBlock {
    background-image: url(../media/sunrise.png);
}
.SunsetBlock {
    background-image: url(../media/sunset.png);
}
.SunriseTime, .SunsetTime {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 4vh;
    text-align: center;
    color: $grey;
}

.ProgressDayBlock {
    width: 100%;
    height: auto;
    border-bottom: 2.5px solid $grey;
}
.ProgressDay {
    width: 0%;
    height: 1.8vh;
    background-color: $yellow;
}

//Weather other info
.WeatherOtherInfo {
    width: 100%;
    height: 20vh;
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: repeat(4, 25%);
}

.AdditionalInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
    text-align: center;
    text-transform: uppercase;
    color: $grey;
}
.AdditionalInfoBorder {
    border-right: 1px solid $black;
}

.CircleData {
    width: 11vh;
    height: 11vh;
    border: 0.7vh solid $grey;
    border-radius: 50%;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2.1vh;
    text-transform: none;
    color: $yellow;
}
.Pressure {
    font-size: 1.9vh;
}

//MAP BLOCK
.MapMainBlock {
    width: 50vw;
    height: 100vh;
    background-color: $grey;
    border-left: 2px solid $black;
}